<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>siw-progetto</display-name>
	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
	<context-param>
		<param-name>javax.faces.STAT_SAVING_METHOD</param-name>
		<param-value>client</param-value>
	</context-param>
	<filter>
		<filter-name>Login Admin filter</filter-name>
		<filter-class>it.uniroma3.domain.filter.LoginAdminFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Login Admin filter</filter-name>
		<url-pattern>/administratorHome.xhtml</url-pattern>
		<url-pattern>/inserimentoQuadro.xhtml</url-pattern>
		<url-pattern>/inserimentoNuovoAutore.xhtml</url-pattern>
		<url-pattern>/modificaQuadro.xhtml</url-pattern>
		<url-pattern>/registrazioneUtenteByAdmin.xhtml</url-pattern>
		<url-pattern>/cancellaUtente.xhtml</url-pattern>
		<url-pattern>/listaUtentiRegistrati.xhtml</url-pattern>
		<url-pattern>/datiAutore.xhtml</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>Login User filter</filter-name>
		<filter-class>it.uniroma3.domain.filter.LoginUserFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Login User filter</filter-name>
		<url-pattern>/userHome.xhtml</url-pattern>
    </filter-mapping>
</web-app>